<% provide(:title, 'Question') %>

<h1><%= @question.title %></h1>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><%= link_to "Questions", questions_path %></li>
  <li class="active"><%= @question.title.humanize() %></li>
</ol>

<p><%=@question.content %></p>

<%= link_to "Edit question", edit_question_path(@question), :class => "btn btn-primary" %>

<%= render partial: 'comments/comments', object: @question.comments %>

<%= render partial: 'comments/new', locals: {object: @question} %>
