<% provide(:title, 'Question') %>

<h1><%= @question.title %></h1>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><%= link_to "Questions", questions_path %></li>
  <li class="active">Question</li>
</ol>

<p><%=@question.content %></p>

<%= render partial: 'comments/comments', object: @question.comments %>

<%= render partial: 'comments/new', locals: {object: @question} %>
