<% provide(:title, 'Idea') %>

<h1><%= @idea.title %></h1>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><%= link_to "Ideas", ideas_path %></li>
  <li class="active">Idea</li>
</ol>

<%= render partial: 'shared/flash' %>

<p><%=@idea.content %></p>

<ul class="list-group" id="comments">
  <% @idea.comments.each do |comment| %>
  <li class="list-group-item">
    <%= comment.content %>
    <% if policy(comment).destroy? %>
      <%= link_to "Remove", comment_path(comment) + ".json", :method => :delete, :remote => true, :class => 'pull-right delete_comment'  %>
    <% end %>
  </li>
  <% end %>
</ul>


<%= form_for(Comment.new(), :url => comments_path, :remote => true, :html => {:multipart => true, :class => "form-horizontal idea-comment", :'data-type' => 'json'}) do |f| %>

  <div class="form-group">
    <div class="col-sm-6">
      <%= f.text_area :content, :class => "form-control", :rows => 5, :placeholder => "Your comment..." %>
    </div>
  </div>
  <%= f.hidden_field :entity_type, :value => "Idea" %>
  <%= f.hidden_field :entity_id, :value => @idea.id %>

  <div class="form-group">
    <div class="col-sm-6">
      <%= submit_tag "Add comment", :class => "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>
