<% provide(:title, 'Idea') %>

<h1><%= @idea.title %></h1>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><%= link_to "Ideas", ideas_path %></li>
  <li class="active">Idea</li>
</ol>

<p><%=@idea.content %></p>

<%= render partial: 'comments/comments', locals: {object: @idea} %>

<%= render partial: 'comments/new', locals: {object: @idea} %>
