
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "dialog-form box" }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <legend>Update your password</legend>
  <p>Please enter the details for your new passord.</p>

  <div><%= f.label :password, "New password" %><br />
  <%= f.password_field :password, :autofocus => true, :class=> 'form-control' %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation, :class => "form-control" %></div>

  <fieldset class="dialog-submit">
    <%= f.submit "Save password", :class => "btn" %>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>
