<% provide(:title, 'New Page') %>

<h1>New Page</h1>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><%= link_to "Guides", pages_path %></li>
  <li class="active">New</li>
</ol>


<%= form_for(@page, :url => pages_path, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>

  <%= render partial: 'shared/errors', locals: {object: @page} %>

  <div class="form-group">
    <div class="col-sm-8">
      <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>
    </div>
  </div>

  <div class="form-group">
    <div class="wmd-panel col-sm-8">
      <div id="wmd-button-bar"></div>
      <%= f.text_area :content, :class => "wmd-input form-control", :id => "wmd-input", :placeholder => "Enter the page content here..." %>
    </div>
  </div>
  

  <div class="form-group">
    <div class="col-sm-8">
      <div id="wmd-preview" class="well"></div>
    </div>
  </div>

  <%= submit_tag "Create page", :class => "btn btn-primary" %>

  
<% end %>


<script type="text/javascript">
$( document ).on('ready page:load', function () {
    var converter1 = new Markdown.Converter();
    
    var editor1 = new Markdown.Editor(converter1);
    
    editor1.run();
});
</script>