<% provide(:title, 'Welcome') %>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>The number one communcation tool for your business</h2>
        <%= link_to "Try it now ››", sign_up_path, :class => "btn btn-primary btn-lg"%>
      </div>
      <div class="col-md-4">
        <%= image_tag "folder.png", height: '225', width: '225' %>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">

    <div class="row feature">
      <div class="col-md-6">
        <%= image_tag "whistle.png", height: '225', width: '225' %>
      </div>
      <div class="col-md-6 info">
        <h3>Gather Feedback</h3>
        <p>Receive geniune annonymous feedback from your employees</p>
      </div>
    </div>

    <div class="row feature feature-left">
      <div class="col-md-6 img">
        <%= image_tag "notepad2.png", height: '225', width: '225' %>
      </div>
      <div class="col-md-6">
        <h3>Build knowledge</h3>
        <p>By recording and answering common questions your can build up your business's knowledgebase</p>
      </div>
    </div>

    <div class="row feature">
      <div class="col-md-6 img">
        <%= image_tag "books.png", height: '225', width: '225' %>
      </div>
      <div class="col-md-6">
        <h3>Create guides</h3>
        <p>Help your new employees get up to speed quickly. Reduce your key person dependency</p>
      </div>
    </div>

    <div class="row feature feature-left">
      <div class="col-md-6 img">
        <%= image_tag "chalkboard.png", height: '225', width: '225' %>
      </div>
      <div class="col-md-6">
        <h3>Grow your business</h3>
        <p>Gather suggestions from those who know your business best, your employees</p>
      </div>
    </div>

  </div>

</div>
