<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | PeopleFolder</title>
  <meta name="Description" content="Answer questions, build guides, harvest suggestions, and gather feedback for your organisation.">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.min.js"></script>

  <%= render 'layouts/analytics' %>

  
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' if Rails.env.production? %>



<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <%= render partial: 'shared/flash' %>
    </div>

  </div>

  <div class="row">

    <div class="col-md-2 sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-md-10 content">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
